# Compiled output
dist/
tmp/
out-tsc/

# Node
node_modules/
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.vscode/
*.sublime-workspace

# Angular
.angular/

# Python
__pycache__/
*.pyc
db.sqlite3

# System files
.DS_Store
Thumbs.db
